{% extends "base_generic.html" %}

{% block content %}
      <form method="post">
        {% csrf_token %}
        <div class="jumbotron py-3 bg-scheduler-dark-2">
        <div class="form-group">
          {{ form.email.label_tag }}
          <input class="form-control bg-scheduler-dark-3" type="email" name="email" autocomplete="email" maxlength="254" required id="id_email">
          {% if form.email.errors %}
            <small class="text-danger">{{ form.email.errors }}</small>
          {% endif %}
        </div>
        <div class="form-group">
          <button type="submit" class="btn bg-scheduler c-scheduler-dark">Reset password</button>
        </div>
        </div>
      </form>
{% endblock %}
