<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'task_manager/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'task_manager/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'task_manager/css/clean_links.css' %}">
    <link rel="stylesheet" href="{% static 'task_manager/css/input_form.css' %}">
    <link rel="stylesheet" href="{% static 'task_manager/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'task_manager/fontello/css/fontello.css' %}">
    <title>Scheduler</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Kamil Cinner">
    <meta http-equiv="X-Ua-Compatible" content="IE=edge">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="sticky-top">
      <nav class="navbar navbar-light bg-scheduler navbar-expand-md">
        <a class="navbar-brand c-scheduler-dark-2" href="{% url 'task_manager:index' %}"><img class="d-inline-block mr-1 align-bottom" src="{% static 'task_manager/images/logo.png' %}" width="30" height="30" alt="logo"> Scheduler</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Navigation toggler">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainmenu">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'task_manager:index' %}">Start</a></li>

            {% if not user.is_authenticated %}
              <a class="nav-link" href="{% url 'login' %}">Login</a>
              <a class="nav-link" href="{% url 'django_registration:user-create' %}">Register</a>
            {% else %}
              <a class="nav-link" href="{% url 'task_manager:task-list' %}">Tasks</a>
              <a class="nav-link" href="{% url 'task_manager:slist-list' %}">Shopping Lists</a>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false" id="submenu" aria-haspopup="true">Manage tasks</a>
                <div class="dropdown-menu" aria-labelledby="submenu">
                  <a class="dropdown-item" href="{% url 'task_manager:task-create' %}">Create new</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item disabled" href="{% url 'task_manager:inactive-yet' %}">Delete</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item disabled" href="{% url 'task_manager:inactive-yet' %}">Mark done</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false" id="submenu" aria-haspopup="true">Manage shopping lists</a>
                <div class="dropdown-menu" aria-labelledby="submenu">
                  <a class="dropdown-item" href="{% url 'task_manager:slist-create' %}">Create new</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item disabled" href="{% url 'task_manager:inactive-yet' %}">Delete</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false" id="submenu" aria-haspopup="true">About</a>
                <div class="dropdown-menu" aria-labelledby="submenu">
                  <a class="dropdown-item" href="{% url 'task_manager:about' %}">Scheduler</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'task_manager:other-projects' %}">Other projects</a>
                </div>
              </li>
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <div class="container my-3 min-vh-100">
        {% block content %}{% endblock %}
      </div>
    </main>

    <footer class="bg-scheduler-dark-2 py-3">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6">
            <h1 class="h2 my-3">About creator</h1>
            <p class="">Computer Science student at Lublin University of Technology who has started his first adventure with computers and programming in very youth years.</p>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <h1 class="h2 my-3">Projects</h1>
            <a class="text-decoration-none d-flex" href="{% url 'task_manager:inactive-yet' %}">
              <i class=""></i>
              <strong class="my-1"><a href="{% url 'task_manager:about' %}">Scheduler</a></strong>
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <h1 class="h2 my-3">Socials</h1>
            <a class="text-decoration-none d-flex" href="https://www.linkedin.com/in/kamil-cinner-909b98196">
              <i class="icon-linkedin-squared"></i>
              <strong class="my-1">Kamil Cinner</strong>
            </a>
            <a class="text-decoration-none d-flex" href="https://github.com/kamilcinner">
              <i class="icon-github-circled"></i>
              <strong class="my-1">github.com/kamilcinner</strong>
            </a>
            <a class="text-decoration-none d-flex" href="https://www.instagram.com/artemka00010011">
              <i class="icon-instagram"></i>
              <strong class="my-1">artemka00010011</strong>
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <h1 class="h2 my-3">See also</h1>
            <a class="text-decoration-none d-flex" href="https://www.instagram.com/wloczkowo/">
              <i class="icon-instagram"></i>
              <strong class="my-1">wloczkowo</strong>
            </a>
          </div>
        </div>
        <hr class="bg-scheduler">
        <p class="text-center my-0 text-muted font-italic">The author of this site is Kamil Cinner</p>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{% static 'task_manager/bootstrap/js/bootstrap.min.js' %}"></script>
    {% block script %}{% endblock %}
  </body>
</html>