<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'task_manager/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'task_manager/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'task_manager/css/input_form.css' %}">
    <link rel="stylesheet" href="{% static 'task_manager/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'task_manager/fontello/css/fontello.css' %}">
    <title>Scheduler</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Kamil Cinner">
    <meta http-equiv="X-Ua-Compatible" content="IE=edge">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="sticky-top">
      <nav class="navbar navbar-light bg-scheduler navbar-expand-lg">
        <a class="navbar-brand" href="{% url 'task_manager:index' %}"><img class="d-inline-block mr-1 align-bottom" src="{% static 'task_manager/images/logo.png' %}" width="30" height="30" alt="logo"> Scheduler</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Navigation toggler">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainmenu">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'task_manager:index' %}">Start</a></li>

            {% if not user.is_authenticated %}
              <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'django_registration:user-create' %}">Register</a></li>
            {% else %}
              <li class="nav-item"><a class="nav-link" href="{% url 'task_manager:task-list' %}">Tasks</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false" id="submenu" aria-haspopup="true">Manage tasks</a>
                <div class="dropdown-menu" aria-labelledby="submenu">
                  <a class="dropdown-item" href="{% url 'task_manager:task-create' %}">Create new</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'task_manager:inactive-yet' %}">Delete</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'task_manager:inactive-yet' %}">Mark done</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false" id="submenu" aria-haspopup="true">About</a>
                <div class="dropdown-menu" aria-labelledby="submenu">
                  <a class="dropdown-item" href="{% url 'task_manager:inactive-yet' %}">Scheduler</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'task_manager:inactive-yet' %}">Other projects</a>
                </div>
              </li>
              <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
            {% endif %}

          </ul>
        </div>
      </nav>
    </header>

    <main>
      <div class="container mt-3 min-vh-100">
        {% block content %}{% endblock %}
      </div>
    </main>

    <footer class="mb-0 p-0">
      <div class="d-flex justify-content-between bg-scheduler">
        <div class="fb text-center w-50"><i class="icon-facebook-official"></i></div>
        <div class="ig text-center w-50"><i class="icon-instagram"></i></div>
      </div>
      <p class="text-center text-muted mb-0 bg-scheduler">All rights reserved &copy; 2020 Thank you for visit!</p>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{% static 'task_manager/bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>