{% extends 'task_manager/base_generic.html' %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h1 class="mt-5">Welcome {{ request.user.username }}!</h1>
    </div>
    <div class="col-12">
      <a class="btn mt-5 cs-scheduler btn-lg w-100" href="{% url 'task_manager:task-list' %}" role="button">See Your Tasks</a>
    </div>
    <div class="col-12">
      <h2 class="mt-5">Summary</h2>
      <p>You have {{ request.user.task_set.count }} tasks on-going</p>
    </div>
  </div>
{% endblock %}