{% extends 'task_manager/base_generic.html' %}

{% block content %}
  <div class="jumbotron mb-3 p-2 bg-scheduler-dark-2 c-scheduler-white">
    <h1 class="display-4">{{ sharedshoppinglist.name }}</h1>
    <hr class="my-4 bg-scheduler-light">
    {% if sharedshoppinglist.sharedshoppinglistitem_set.all.count >= 1 %}
      <ul>
        {% for item in sharedshoppinglist.sharedshoppinglistitem_set.all %}
        <li><a class="c-scheduler-white {% if item.status %}text-line-through{% endif %}" href="{% url 'task_manager:slist-item-mark-bought' item.pk %}"><p class="lead">{{ item }}</p></a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="text-muted">There is no any item yet</p>
    {% endif %}
    <hr class="my-4 bg-scheduler-light">
    <p><strong>Date added:</strong> {{ sharedshoppinglist.date_added|date:'d M Y H:i' }}</p>
  </div>
{% endblock %}