{% extends 'task_manager/base_generic.html' %}

{% load static %}

{% block script %}<script src="{% static 'task_manager/js/shopping_list_items_interaction.js' %}"></script>{% endblock %}

{% block content %}
  <div class="jumbotron mb-3 p-2 bg-scheduler-dark-2 c-scheduler-white">
    <h1 class="display-4">{{ shoppinglist.name }}</h1>
    <hr class="my-4 bg-scheduler-light">
    <form method="post">
      <div id="fields-wrapper">
      {% csrf_token %}
      {{ formset.management_form }}
      {% for item in formset %}
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend bg-scheduler-dark-2">
              <span class="input-group-text px-2 bg-scheduler-dark-3 c-scheduler">{{ forloop.counter }}</span>
            </div>
            {{ item.name }}{{ item.status }}
            <div class="input-group-append bg-scheduler-dark-2">
              <button onclick="deleteForm(this)" type="button" class="btn btn-danger px-3 delete-form-row">-</button>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
      <div class="d-flex w-100 justify-content-between">
        <button onclick="addForm()" type="button" class="btn bg-scheduler-dark-3 c-scheduler add-form-row">Add another</button>
        <button type="submit" class="btn bg-scheduler-dark-3 c-scheduler">Save</button>
      </div>
    </form>
    <hr class="my-4 bg-scheduler-light">
    <p><strong>Last edit:</strong> {{ shoppinglist.date_added|date:'d M Y H:i' }}</p>
  </div>
{% endblock %}