{% extends 'task_manager/base_generic.html' %}

{% block content %}
  {% if shoppinglist_list %}
    <div class="list-group">
      {% for slist in shoppinglist_list %}
        <a class="list-group-item mb-3 bg-scheduler-dark-2 c-scheduler-white list-group-item-action" href="{{ slist.get_absolute_url }}">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ slist.name }}</h5>
            <small>{{ slist.date_added|date:'d M Y H:i' }}</small>
          </div>
          {% if not slist.shoppinglistitem_set.first.status %}
            <small class="mb-0 text-secondary">
              {% for item in slist.shoppinglistitem_set.all %}
                {% if not item.status %}
                  {{ item.name }},
                {% endif %}
              {% endfor %}
            </small>
          {% else %}
            <p class="mb-0 text-secondary">Nothing left to buy</p>
          {% endif %}
          {% if slist.is_shared %}<p class="font-weight-light my-0 text-success">Shared</p>{% endif %}
        </a>
      {% endfor %}
    </div>
    <div class="jumbotron py-0 bg-scheduler">
      <p class="lead text-center">That's all! Would You mind add another <a class="btn py-0 my-2 bg-scheduler-dark-2 c-scheduler btn-lg" href="{% url 'task_manager:slist-create' %}" role="button">Shopping List</a></p>
    </div>
  {% else %}
    <div class="jumbotron py-0 bg-scheduler">
      <p class="lead text-center">Would You mind add your first <a class="btn py-0 my-2 bg-scheduler-dark-2 c-scheduler btn-lg" href="{% url 'task_manager:slist-create' %}" role="button">Shopping List</a></p>
    </div>
  {% endif %}
{% endblock %}