{% extends 'task_manager/base_generic.html' %}

{% block content %}
  <div class="jumbotron mb-3 p-2 bg-scheduler-dark-3 c-scheduler-light">
    <h1 class="display-4">{{ shoppinglist.name }}</h1>
    <hr class="my-4">
    {% if shoppinglist.shoppinglistitem_set.all.count >= 1 %}
      <ul>
        {% for item in shoppinglist.shoppinglistitem_set.all %}
        <li><a class="c-scheduler-light {% if item.status %}text-line-through{% endif %}" href="{% url 'task_manager:slist-item-mark-bought' item.pk %}"><p class="lead">{{ item }}</p></a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p>There is no any item yet</p>
    {% endif %}
    <hr class="my-4">
    <p><strong>Date added:</strong> {{ shoppinglist.date_added|date:'d M Y H:i' }}</p>
    <div class="d-flex w-100 justify-content-between">
      <a class="btn bg-scheduler-dark c-scheduler btn-lg" href="{% url 'task_manager:slist-update' shoppinglist.pk %}" role="button">Edit</a>
      <a class="btn btn-danger btn-lg" href="{% url 'task_manager:slist-delete' shoppinglist.pk %}" role="button">Delete</a>
    </div>
  </div>
  <a class="btn bg-scheduler c-scheduler-dark btn-lg w-100" href="{% url 'task_manager:slist-list' %}" role="button">Back to Shopping Lists</a>
{% endblock %}