{% extends "base_generic.html" %}

{% load static %}

{% block script %}<script src="{% static 'task_manager/js/task_form_client_validation.js' %}"></script>{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <div class="jumbotron py-1 bg-scheduler-dark-2 c-scheduler-light">
    <div class="form-group">
      {{ form.name.label_tag }}
      {{ form.name }}
      <small class="text-muted">{{ form.name.help_text }}</small>
      {% for error in form.name.errors %}
        <br><small class="text-danger">{{ error }}</small>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.description.label_tag }}
      {{ form.description }}
      <small class="text-muted">{{ form.description.help_text }}</small>
      {% for error in form.description.errors %}
        <br><small class="text-danger">{{ error }}</small>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.priority.label_tag }}
      {{ form.priority }}
      <small class="text-muted">{{ form.priority.help_text }}</small>
      {% for error in form.priority.errors %}
        <br><small class="text-danger">{{ error }}</small>
      {% endfor %}
    </div>
    <div class="form-group">
      <h1 class="h4">Due date</h1>
      <hr class="bg-scheduler-light">
      <div class="form-row">
        <div class="col-4">
          {{ form.year.label_tag }}
          {{ form.year }}
          <small class="text-muted">{{ form.year.help_text }}</small>
        </div>
        <div class="col-5">
          {{ form.month.label_tag }}
          {{ form.month }}
          <small class="text-muted">{{ form.month.help_text }}</small>
        </div>
        <div class="col-3">
          {{ form.day.label_tag }}
          {{ form.day }}
          <small class="text-muted">{{ form.day.help_text }}</small>
        </div>
      </div>
      {% for error in form.year.errors %}
        <br><small class="text-danger">{{ error }}</small>
      {% endfor %}
      {% for error in form.month.errors %}
        <br><small class="text-danger">{{ error }}</small>
      {% endfor %}
      {% for error in form.day.errors %}
        <br><small class="text-danger">{{ error }}</small>
      {% endfor %}
    </div>
    <div class="form-group">
      <hr class="bg-scheduler-light">
      <div class="form-row">
        <div class="col-3">
          {{ form.hour.label_tag }}
          {{ form.hour }}
          <small class="text-muted">{{ form.hour.help_text }}</small>
        </div>
        <div class="col-3">
          {{ form.minute.label_tag }}
          {{ form.minute }}
          <small class="text-muted">{{ form.minute.help_text }}</small>
        </div>
      </div>
      {% for error in form.hour.errors %}
        <br><small class="text-danger">{{ error }}</small>
      {% endfor %}
      {% for error in form.minute.errors %}
        <br><small class="text-danger">{{ error }}</small>
      {% endfor %}
    </div>
    <div class="form-group">
      <button type="submit" class="btn bg-scheduler c-scheduler-dark">Save</button>
    </div>
    </div>
  </form>
{% endblock %}