{% extends "task_manager/base_generic.html" %}

{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        <small class="text-muted">{{ field.help_text }}</small>
        {% for error in field.errors %}
          <br><small class="text-danger">{{ error }}</small>
        {% endfor %}
      </div>
    {% endfor %}
    <div class="form-group">
      <button type="submit" class="btn mb-3 bg-scheduler c-scheduler-dark">Submit</button>
    </div>
  </form>
{% endblock %}