{% extends 'base_generic.html' %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <div class="jumbotron py-2 bg-scheduler-dark-2">
      <div class="form-group">
        {{ form.date.label_tag }}
        <input type="date" name="date" value="{{ form.date.value }}" class="form-control bg-scheduler-dark-3" required id="id_date">
        <small class="text-muted">{{ form.date.help_text }}</small>
        {% for error in form.date.errors %}
          <br><small class="text-danger">{{ error }}</small>
        {% endfor %}
      </div>
      <div class="form-group">
        <button type="submit" class="btn bg-scheduler c-scheduler-dark btn-lg w-100">Show</button>
      </div>
    </div>
  </form>
  {% if week_days %}
    {% for day in week_days %}
      <div class="jumbotron mb-3 p-2 bg-scheduler-dark-2 c-scheduler-white">
        {% if day.activities %}
          <h1 class="display-4">{{ day.get_week_day_name }}</h1>
          <div class="list-group">
            {% for act in day.activities %}
              <a class="list-group-item bg-scheduler-dark-3" href="{% url 'schedule_manager:activity-detail' act.pk %}">
                <h1 class="h5 font-weight-bold">{{ act.get_crispy_time }}</h1>
                <h1 class="h5 lead">{{ act.name }}</h1>
                <small class="text-muted">{{ act.description }}</small>
              </a>
            {% endfor %}
          </div>
        {% else %}
          <h1 class="h4 lead text-muted">{{ day.get_week_day_name }} - no activity</h1>
        {% endif %}
      </div>
    {% endfor %}
  {% elif not first_select %}
    <div class="jumbotron py-1 bg-scheduler">
      <p class="my-0 lead text-center">There are no activities in this week</p>
    </div>
  {% endif %}
{% endblock %}