{% extends 'base_generic.html' %}

{% load static %}

{% block script %}<script src="{% static 'schedule_manager/js/week_shifter.js' %}"></script>{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <div class="jumbotron py-2 bg-scheduler-dark-2">
      <div class="form-group">
        {{ form.date.label_tag }}
        <input type="date" name="date" value="{{ form.date.value }}" class="form-control bg-scheduler-dark-3" required id="id_date">
        <small class="text-muted">{{ form.date.help_text }}</small>
        {% for error in form.date.errors %}
          <br><small class="text-danger">{{ error }}</small>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.week_shift }}
        <button type="submit" class="btn bg-scheduler c-scheduler-dark btn-lg w-100">Show</button>
      </div>
      <dvi class="form-group">
        <div class="form-row">
          <div class="col-6">
            <button id="previous-week-btn" type="submit" class="btn bg-scheduler c-scheduler-dark w-100">Previous week</button>
          </div>
          <div class="col-6">
            <button id="next-week-btn" type="submit" class="btn bg-scheduler c-scheduler-dark w-100">Next week</button>
          </div>
        </div>
      </dvi>
    </div>
  </form>
  {% if week_days %}
    {% for day in week_days %}
      <div class="jumbotron mb-3 p-2 bg-scheduler-dark-2 c-scheduler-white">
        {% if day.week_day_activity_task_list %}
          <h1 class="display-4">{{ day.week_day_name }}</h1>
          <div class="list-group">
            {% for act_task in day.week_day_activity_task_list %}
              <a class="list-group-item {% if act_task.priority == 'h' %}bg-scheduler-dark-2 c-scheduler-white{% elif act_task.priority == 'n' %}bg-scheduler-dark-3{% elif act_task.priority == 'l' %}bg-scheduler-light c-scheduler-dark{% else %}bg-scheduler-white c-scheduler-dark-2{% endif %}" href="{{ act_task.get_absolute_url }}">
                <h1 class="h5 font-weight-bold">{{ act_task.time }}</h1>
                <h1 class="h5 lead">{{ act_task.name }}</h1>
                <small class="text-muted">{{ act_task.description }}</small>
                <p class="my-0">{% if act_task.priority == 'h' %}<small class="font-weight-bold text-warning">High</small>{% elif act_task.priority == 'n' %}<small class="font-weight-bold">Normal</small>{% elif act_task.priority == 'l' %}<small class="text-muted">Low</small>{% endif %}</p>
              </a>
            {% endfor %}
          </div>
        {% else %}
          <h1 class="h4 lead text-muted">{{ day.week_day_name }} - no activity</h1>
        {% endif %}
      </div>
    {% endfor %}
  {% else %}
{#    elif not first_select#}
    <div class="jumbotron py-1 bg-scheduler">
      <p class="my-0 lead text-center">There are no activities in this week</p>
    </div>
  {% endif %}
{% endblock %}