.form-control {
    border-color: #00a161 !important;
    color: white;
}
.form-control:focus {
    border-color: #00a161 !important;
    color: white;
    box-shadow: 0 0 0 0.1rem #00a161;
}
.btn:focus {
    box-shadow: 0 0 0 0.1rem #00a161;
}
