body {
    background-color: #424240;
    color: white;
}
.bg-scheduler {
    background-color: #00a161 !important;
}
.bg-scheduler-dark {
    background-color: #424240 !important;
}
.c-scheduler {
    color: #00a161 !important;
}
.c-scheduler-dark {
    color: #424240 !important;
}
.dropdown-menu {
    background-color: #424240;
}
.dropdown-item {
    color: #00a161;
}
a.dropdown-item:hover {
    background-color: #424240;
}
a.dropdown-item:focus {
    background-color: #424240;
    color: #00a161;
}
@media(max-width: 575px) {
    h1 {
        font-size: 30px;
    }
}
.dropdown-divider {
    border-top: 1px solid #00a161;
}